<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2018 ThanksMister LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed
  ~ under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thanksmister.iot.wallpanel">

    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.thanksmister.iot.wallpanel.WallPanel"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true">

        <activity
            android:name="com.thanksmister.iot.wallpanel.ui.activities.WelcomeActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thanksmister.iot.wallpanel.ui.activities.SettingsActivity"
            android:label="@string/title_settings">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thanksmister.iot.wallpanel.ui.activities.CameraTestActivity"
            android:label="Camera Test">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thanksmister.iot.wallpanel.ui.activities.BrowserActivityNative"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_browser"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thanksmister.iot.wallpanel.ui.activities.BrowserActivityLegacy"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_browser"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.LiveCameraActivity" />

        <service
            android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name="com.thanksmister.iot.wallpanel.network.WallPanelService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true"/>

        <receiver
            android:name="com.thanksmister.iot.wallpanel.BootUpReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face,barcode"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d328872540a331f2245f3d7b842d06bbb7ac1c60" />

    </application>

</manifest>